.bannerTienda{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/music-8bca7.appspot.com/o/bannerTienda.webp?alt=media&token=8545eb1a-2cfa-4e54-b993-c744400846dd");
    background-position: top center;
    background-size: cover;
    padding:25%;
    background-attachment: fixed;
    
    
}
/*
.container{
    width: 100%;
    max-width: 1100px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top:30px;
    margin-bottom:30px;
}

.card{
    width:100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, green,0 blue,0 alpha,0.2);
}
*/
.card {
    width: 18rem;
    padding: 0;
}
